<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>과제 #1</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://use.fontawesome.com/releases/v5.13.0/css">
</head>
<body>
<div class="container">
    <h1> Hello, Spring! </h1>
    <h2> 분반 :수요일(12:00~15:00) </h2>
    <h2> 학번 : 2015742045 </h2>
    <h2> 이름 : 박세환 </h2>
</div>
</body>
</html>